.navbar {
  background: none !important;
}
.navbar-brand {
  font-size: 1.9rem !important;
  color: #565387 !important;
}
.navbar a {
  font-size: 1.3rem !important;
  text-decoration: none;
  text-transform: capitalize !important;
  color: #565387 !;
}
.navbar a:hover {
  color: rgba(132, 128, 167, 0.24);
}
.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #565387;
}
